.projects-layout{
    background-color:#FCEDDA;
}
/* .pageName{
    background-color:#FCEDDA;
    color:#EE4E34;
    padding-left:20px;
} */
.cards{
    display: grid;
    /* grid-gap: 1rem; */
    text-align: left;
    grid-template-columns: repeat(auto-fill, minmax(50vh, 2fr));
    margin:12pt;
    margin-left: 15pt;
    padding-bottom: 25px;
     
}
.card{
    /* border: 5px solid #EE4E34; */
    background-color:#FCEDDA;
    /* display:flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    justify-content: center;
    /* width:80%; */
    text-align: center;
    border-radius: 4px;
    /* padding: .5rem; */
    box-shadow: 5px 5px 15px rgb(209, 191, 191);
  
    height: 25pc;
    overflow:auto;
    border-bottom:15px solid #FCEDDA;
    /* margin-bottom:5px; */

}
.proj-title{
    font-size:28px; 
    font-weight: bold;
    font-family:serif;
    padding-top: 12px;
    padding-bottom: 15px;
   
}
.img-image{
    padding:5px 15px;
}


.project-info{
    text-align: center;
    font: 22px;
    /* display:flex;
    flex-wrap: wrap;  */
 
 padding:5px;
 margin-top:25px;
}

/* .thick-line{
    border:7px solid brown;
    position:bottom;
} */
button {
    /* padding:5% 5px; */
    margin-right: 5%;
    border-color:#FCEDDA;
    color:#EE4E34;
    border-radius:5px;
    background-color:#FCEDDA;
}
.buttons :hover {
    
    font-size:medium;
    font-weight: 600;
    
}

@media screen and (max-width: 600px){
    .cards{padding-right:0.5em;}
}