
.cards{
    display: grid;
    text-align: left;
    grid-template-columns: repeat(auto-fill, minmax(40vh, 2fr));
    margin:12pt;
    margin-left: 15pt;
    padding-bottom: 25px;
     
}
.card{
    background-color:#FCEDDA;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    box-shadow: 5px 5px 15px rgb(209, 191, 191);
    /* height: 30pc; */
    overflow:auto;
    border-bottom:15px solid #FCEDDA;
}
.proj-title{
    font-size:28px; 
    font-weight: bold;
    font-family:serif;
    padding-top: 12px;
    padding-bottom: 15px;
   
}
.img-image{
    padding:5px 15px;
}


.project-info{
    text-align: center;
    font: 22px;
    padding:5px;
    margin-top:25px;
}

button {
    margin-right: 5%;
    border-color:#FCEDDA;
    color:#EE4E34;
    border-radius:5px;
    background-color:#FCEDDA;
}
.buttons :hover {
    font-size:medium;
    font-weight: 600;
}

@media screen and (max-width: 600px){
    .cards{
        padding-right:0.5em;
        grid-template-columns: repeat(auto-fill, minmax(40vh, 4fr));
    };   
}

