.header{
    display:inline-flex;
    width:100%;
    border-bottom: 4px solid brown;
    border-top: 6px solid brown;
    list-style-type: none;
    justify-content:space-between;
    padding:3px; 
    height:5px;
   
  
}

.nav-item {
  display: inline-block;
  font-size: 16px;
  padding: 5px 20px ;
  justify-content:space-between;
  color:black;
  align-items: baseline;
}
.name-tag{
  /* display:flex; */
  align-content:center;
  
   /* align-items: flex-start; */
  color:black;
  font-weight: bold;
  font-size: 20px;
  /* padding: 5px 20px ; */
  justify-items:center;
  padding:3vh;
}
@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
  .name-tag{
    font-size: 16px;
  }
}