.header{
    
    
    width:100%;
  
    flex-wrap:wrap; 
    border-bottom: 6px solid brown;
    border-top: 6px solid brown;
    
    list-style-type: none;
    text-align: center;
    
}


.nav-item {
  display: inline-block;
  font-size: 20px;
  padding: 5px 30px ;
  justify-content:space-between;
}