
body {
  
    background-color: white;
    color: brown;
    padding: 0px;
    margin: 0;
    
    height:100vh;
    /* font-family: "Avenir Next", Calibri, Verdana, sans-serif; */

    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  }
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* 
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  main {
    max-width: 1200px;
  }
} */